body {
  font-size:
  margin: 0;
  padding: 0;
  border: 0;
  background: #9FB3B5;
  font-family: 'Josefin Sans', sans-serif;
  color: #444;
  font-size: 20px;
}

h1 {
  display: inline-block;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  color: #444;
  padding: 0.75em;
  margin: 0.5em;
  border-radius: 1em;
}

div {
  padding: 0.25em;
  margin: 0.25em;
  background: #dcf9c6;
}

input,
textarea,
select {
  margin-top: 0.5em;
  padding: 0.5em;
  border: 0.25em solid #444;
  border-radius: 0.25em;
  background: #faf8f3;
}

textarea:focus,
input:focus,
select:focus {
  outline: 0;
  border: 1px solid #bec9cf;
  box-shoadow 0 0 10px #719ECE;
}

textarea {
  resize: none;
}

.birds  {
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
}

.about-you  {
  border: 0.5em solid #444;
  border-radius: 1em;
  width: 200px;
  margin: 5% 25%;
  padding: 2em;
  text-align: center;
}
